---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import HomeAbout from "@components/HomeAbout.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import { slugifyStr } from "@utils/slugify";
import { SITE } from "@config";

const posts = await getCollection("blog");
const sortedPosts = getSortedPosts(posts).slice(0, 3); // Limit to 3 posts
---

<Layout>
  <Header />
  <main id="main-content">
    <HomeAbout>
      <ul>
        {
          sortedPosts.map(({ data, slug }) => (
            <Card
              href={`/posts/${slugifyStr(slug)}`}
              frontmatter={data}
              secHeading={false}
            />
          ))
        }
      </ul>
    </HomeAbout>
  </main>
  <Footer />
</Layout>

<style>
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
